<?xml version="1.0" encoding="UTF-8" ?>
<!--xmlns="http://www.hibernate.org/xsd/hibernate-configuration"-->
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sutms?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="com.poojithairosha.core.model.DeviceData"/>
        <mapping class="com.poojithairosha.core.model.GPSCoordinates"/>
    </session-factory>
</hibernate-configuration>